In [1]:
import sys
import pandas as pd
from insurance_analytics.core.registry import settings

In [2]:
name = "insurance_cleaned.csv"
processed_path = settings.DATA["processed_dir"] / name
report_path = settings.REPORTS["reports_dir"]
plots_dir = settings.REPORTS["plots_dir"]

# Load data with error handling
try:
    df = pd.read_csv(processed_path, sep=",")
    print(
        f"Data loaded successfully: {df.shape[0]} rows, {df.shape[1]} columns")
except FileNotFoundError:
    print(f"Error: File not found at {processed_path}")
    sys.exit(1)
except ValueError as e:
    print(f"Error loading data: {e}")
    sys.exit(1)
except Exception as e:
    print(f"Unexpected error: {e}")
    sys.exit(1)

C:\Users\user\AppData\Local\Temp\ipykernel_20436\2225260617.py:8: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(processed_path, sep=",")

Data loaded successfully: 1000098 rows, 50 columns

In [3]:
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,LegalType,Title,Language,Bank,AccountType,MaritalStatus,...,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims,LossRatio
0,145249,12827,1425168000000000000,True,Close Corporation,Mr,English,First National Bank,Current account,Not specified,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,0.0
1,145249,12827,1430438400000000000,True,Close Corporation,Mr,English,First National Bank,Current account,Not specified,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,0.0
2,145249,12827,1435708800000000000,True,Close Corporation,Mr,English,First National Bank,Current account,Not specified,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,NaN
3,145255,12827,1430438400000000000,True,Close Corporation,Mr,English,First National Bank,Current account,Not specified,...,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0,0.0
4,145255,12827,1435708800000000000,True,Close Corporation,Mr,English,First National Bank,Current account,Not specified,...,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,NaN